body {
  padding: 0 !important;
  margin: 0 !important;
}

.banner {
  background-image: url(./Image/1204138.jpg);
  height: 850px;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}
.banner .header-logo {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0px;
}
.banner .header-logo .sign-in, .banner .header-logo .hoyolab {
  float: right;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-top: 50px;
  margin-right: 30px;
}
.banner .header-logo .hoyolab {
  margin-right: 50px;
}
.banner .header-logo .home {
  float: left;
  padding-top: 30px;
  margin-left: 60px;
}
.banner .header-logo .logo {
  height: 60px;
  width: 140px;
}
.banner .bg-text {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.35);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  margin-top: 50px;
}
.banner .button-start {
  text-align: center;
  margin-top: 500px;
}
.banner .button-start button {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/opacity/see-through */
  text-transform: uppercase;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 20px;
}
